*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html{
  scroll-behavior: smooth;
}
body{
  color: #080808;
}
nav{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #080808;
  padding: 7px 10%;
  border-bottom: 1px solid transparent;
  transition: all .4s ease;
  flex-wrap: wrap;
}
.logo{
  width: 140px;
}
#header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #080808;
}
.container{
  padding: 10px 10%;
}
#service{
  padding: 80px 0;
  color:#080808;
}
.sub-text{
  display: grid;
  background: #e7e5e5;
  padding: 40px;
  border-radius: 10px;
  margin-left: 80px;
  margin-right: 80px;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}
.about-col-1{
  flex-basis: 35%;
}
.about-col-1 img{
  width: 100%;
  border-radius: 15px;
  margin-top: 50px;
}
.about-col-2{
  flex-basis: 60%;
}
.reach-links{
  margin-left: 140px;
}
.action{
  margin-top: 30px;
  background-color: #BD03F1;
  color: #fff;
  font-weight: 700;
  margin-right: 15px;
  border: none;
  height: 35px;
  width: 140px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.4s ease;  
}
.action:hover {
  box-shadow: 3px 3px 3px #F4A896;
}
.action:active {
  background-color: #F4A896;
}
.back {
  margin-top: 80px;
  color: #BD03F1;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}
.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #080808;
  text-decoration: underline;
  text-decoration-color: #F4A896;
  text-underline-offset: 4px;
  text-decoration-thickness: 3px;
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #F4A896;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.4s ease;
}
.tab-links.active-link::after{
  width: 50%;
}
.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span{
  color: #F4A896;
  font-size: 16px;
  font-weight: 800;
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}
.skill {
  width: 100%;
  background-color: #080808;
  padding: 30px 10%;
}
.skill-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
.skill-icons div{
  color: #fff;
  padding: 20px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
}
.skill-icons div i{
  font-size: 50px;
  color: #fff;
  margin-bottom: 10px;
}
<!-------------services---------->
#services{
  padding: 30px 0;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div{
  background: #e7e5e5;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a{
  text-decoration: none;
  color: #b27409;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover{
  background: #ffd51e;
  transform: translateY(-10px);
}
<!-----------portfolio------------>
#portfolio{
  background-color: #080808;
  padding: 50px 0;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform o.5s ease;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #F4A896);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s ease;
}
.layer h3{
  color: #fff;
  font-weight: 1000;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: #BD03F1;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #BD03F1;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #080808;
}
.btn:hover{
  background: #BD03F1;
}
/*-----------------contact-------------*/
#contact{
  background-color: #080808;
  color: #fff;
}
.sub-title2{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #F4A896;
  text-underline-offset: 4px;
  text-decoration-thickness: 3px;
}
.contact-left{
  flex-basis: 30%;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: #BD03F1;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #F4A896;
  transform: translateY(-5px);
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #BD03F1;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #080808;
}
.btn:hover{
  background: #BD03F1;
}
.btn.btn2{
  display: inline-block;
  background: #F4A896;
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #e7e5e5;
  padding: 15px;
  margin: 15px 0;
  color: #080808;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright{
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 25px 0;
  background: #080808;
  font-weight: 300;
  margin-top: 20px;
}
/*---------css for small screen-------*/
@media (max-width: 768px){
  .contact-left, .contact-right{
    flex-basis: 100%;
  }
  .copyright{
    font-size: 14px;
  }
  .reach-links{
    margin-left: 0px;
  }
  .about-col-1, .about-col-2{
    flex-basis: 100%;
  }
  .about-col-1{
    margin-bottom: 30px;
  }
  .about-col-2{
    font-size: 20px;
  }
  .action{
    margin-top: 10px;
    height: 35px;
    width: 180px;
    border-radius: 12px;
    background-color: #BD03F1;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-right: 15px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease; 
  }
}
#msg{
  color: #ababab;
  margin-top: -40px;
  display: block;
}